<main class="w-screen h-screen grid grid-cols-2">
  <section class="p-4">
    <header class="px-11 pt-8">
      <img [src]="assetUrl + '/assets/images/sblogo.png'" alt="" />
    </header>
    <article class="flex flex-col space-y-4 justify-center items-center h-full">
      <div class="space-y-8 mb-32">
        <div>
          <h3 class="text-primary font-['BentonSans_Medium']">Digitrade</h3>
          <p class="text-3xl mt-2">Welcome</p>
          <p class="text-3xl">Sign in to get started</p>
        </div>
        <div>
          <button
            class="btn-secondary font-['BentonSans_Medium'] sso flex items-center gap-2 w-full justify-center p-3"
            matRipple
            (click)="redirect()"
          >
            @if (!isLoading) {
              <mat-icon svgIcon="microsoft"></mat-icon>
              Continue with Microsoft
            } @else {
              <mat-spinner diameter="30"></mat-spinner>
            }
          </button>
        </div>
      </div>
    </article>
  </section>
  <section
    class="w-full h- h-full bg-primary bg-center bg-no-repeat bg-cover"
    [style.backgroundImage]="'url(' + assetUrl + '/assets/images/signIn.png)'"
  ></section>
</main>
